{% extends 'master.html' %}
{% block content %}

<!-- <table class="table table-striped text">
  {% for k in s %}  
  <tr>
      <th>username</th>
      <th>image</th>
      <th>decsprition</th>
      <th>price</th>
      <th>rating</th>
    </tr>
    <tr>
        <th>{{k.name}}</th>
        <th><img src="{{i.image.url}}" style="height:100px; width:100px;"></th>
        <th>{{k.dec}}</th>
        <th>{{k.price}}</th>
        <th>{{k.rating}}</th>
    </tr>
    {% endfor %}
</table>  -->
<!-- 
      <div>
        {% for k in s %}

        {{ k.name }}
        {{ k.dec }}
        {{ k.price }}
        {{ k.image }}
        {% endfor %}
      </div> -->
      <section class="banner d-flex align-items-center">
        <h1>{{USER.name}}</h1>
        <div class="container">
            <div class="row">
                <div class=" col-md-8 ">
                    <div class="block ml-4">
                        <span class="text-uppercase text-sm letter-spacing ">The most powerful Solution</span>
                        <h1 class="mb-3 mt-3">Digital experience with A-support</h1>
                        <p class="mb-5">Veritatis earum aliquid doloribus molestias, eveniet molestiae aperiam ratione. Facilis velit voluptatibus impedit eligendi delectus illo earum voluptatum, laudantium molestiae!</p>
    
                       <button  style="    background-color: #FF715B;"> <a href="{% url 'oContact' %}" target="_blank" class="btn btn-main">Learn more about <i class="fa fa-angle-right ml-2"></i></a></button>
    
                    </div>
                </div>
                <div class="banner-img-part col-md-4"><img  src="https://business.twitter.com/content/dam/business-twitter/sandbox/btc-create-profile-header-mobile.png.twimg.1920.png" ></div>
            </div>
        </div>
    </section>
    <!-- <section class="section process" id="service">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-5">
                  <div class="process-block pl-4">
                      <span class="text-uppercase text-sm letter-spacing">Why choose us</span>
                      <h2 class="mb-4 mt-3">We help you to make work easy</h2>
                      <p class="mb-4">We understand what your business means to you,your requirements considering trends.Smet nemo excepturi voluptas eligendi .</p>
                  </div>
              </div>
  
              <div class="col-lg-7 col-xs-12 col-md-12">
                  <div class="row">
                      <div class="col-sm-6 ">
                      <div class="">
                          <div class="icon-block text-center mb-4 mb-lg-0">
                              <i class="ti-light-bulb"><img  style="height: 200px; width: 250px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiDb2m2YBusflZwQ01Ki1gsCS0crpBuh-2UA&usqp=CAU"></i>
                              <h5>GLOSSARY PRODUCT</h5>
                              <p>A complete product manage for business</p>
                          </div>
                      </div>
  
                      <div class="">
                          <div class="icon-block text-center mt-4 mb-4 mb-lg-0">
                              <i class="ti-panel"><img style="height: 200px; width: 250px;" src="https://www.massdevice.com/wp-content/uploads/2021/05/goddard-sponsored-hero-image-june2021.jpg"></i>
                              <h5>MEDICAL PRODUCT</h5>
                              <p>A complete product manage for business</p>
                          </div>
                      </div>
                  </div>
  <div class="col-sm-6">
                      <div class="">
                          <div class="icon-block text-center">
                              <i class="ti-search"><img style="height: 200px; width: 250px;" src="https://s.alicdn.com/@sc04/kf/H068b0406f63349a08f2a0d085666d12eR.jpg"></i>
                              <h5>NOVELTY PRODUCT</h5>
                              <p>A complete web app solution for business</p>
                          </div>
                      </div>
  
                      <div class="">
                          <div class="icon-block text-center mt-4">
                              <i class="ti-rocket"><img  style="height: 200px; width: 250px;" src="https://pixc.com/wp-content/uploads/2015/08/clothing-header-image.jpg"></i>
                              <h5>CLOTH PRODUCT</h5>
                              <p>A complete web app solution for business</p>
                          </div>
                      </div>
  </div>
                  </div>
              </div>	
          </div>
      </div>
  </section>
  <section class="section cta" style="background-image:url('https://demo.themefisher.com/orbitor/images/bg/bg-2.jpg') ; position: relative; background-size: cover;">
      <div class="container">
          <div class="row">
              <div class="col-lg-5">
                  <div class="cta-content bg-white p-5 rounded">
                      <h3 class="mb-4">Assurance Service In Product <span class="text-color-primary " style="     color: #FF715B;"> management</span> </h3>
                      <p class="mb-30">An Independent Validation and manage services from A-support. Helps to reduce product management efforts</p>
                      
                     <button style="    background-color: #FF715B;"> <a href="#" class="btn btn-main" >contect us<i class="fa fa-angle-right ml-2"></i></a></button>
                  </div>
              </div>
          </div>
      </div>
  </section> -->
  {% endblock %}

    
